language: php
php:
  - 7.2
  - 7.3
 # - nightly

before_install:
- composer require phpunit/phpunit:5.* satooshi/php-coveralls:1.*
- composer install --dev
 
script:
- ./vendor/bin/phpunit --coverage-clover ./tests/logs/clover.xml
 
after_script:
- php vendor/bin/coveralls -v
